<footer class="site-footer">
  <div class="wrapper">
  </div>
</footer>
<script src="https://cdn.rawgit.com/staltz/xstream/master/dist/xstream.min.js"></script>
<script>
  window.xs = xstream.default;
  //<![CDATA[
  console.log(
    '           _                             \n'+
    ' __  _____| |_ _ __ ___  __ _ _ __ ___   \n'+
    ' \\ \\/ / __| __| \'__/ _ \\/ _` | \'_ ` _ \\  \n'+
    '  >  <\\__ \\ |_| | |  __/ (_| | | | | | | \n'+
    ' /_/\\_\\___/\\__|_|  \\___|\\__,_|_| |_| |_| \n'+
    '\n'+
    '> console.log(xstream);'
  );
  console.log(xstream);
  console.log('> console.log(xs)');
  console.log(xs);
  //]]>
</script>
